div{
    width: 18%;
    background-color: black;
    height: 200px;
    border: white 4px solid;
    float: left;
    color: white;
    padding: 15px;

}
h2{
    text-align: center;
    
}
p{
    color: blue;
}
img{
    width: 100%;
    height: 140px;
}